@charset "utf-8";
/* CSS Document */
.body{
	margin:0px;
	padding:0px;
}
.total{
	margin-top:0px;
	padding-top:0px;
	background-color:rgba(5,20,45,1.00);
	width:100%;
	/*絕對數值*/
	/*height:700px;*/
	border:solid rgba(252,27,31,1.00) thin;
	display: inline-flex;
}
.leftframe{
	margin:3% 1%;
	width:28%;
	height:94%;
	object-fit:contain;	
	float: left;	
	position: relative;
	display: flex;
	flex-direction: column;
}

.counter{
	position: absolute;
	text-align: center;
	top: 7%;
	left: 40%;
	font-size: large;
}

#time_counter{display: none;}

.image{
	width: 100%;
	height: 80%;
	margin-top:0%;
	padding-top:0%;
}

figcaption{
	text-align: center;
	font-weight: bold;
	color: #FFF;
}

.rightframe{
	margin-top:3%;
	margin-bottom:3%;
	margin-left: 1%;
	width:66.5%;
	height:94%;
	object-fit:contain;	
	float: right;
	position: relative;
}
.houseandghost{
	position: absolute;
	width: 20%;
}
.one{
	top: 0px;
	left: 0px;	
}
.two{
	top:0px;
	right: 0px;
}
.three{
	bottom: 0px;
	left: 0px;	
}
.four{
	bottom:0px;
	right: 0px;
}
.Player3{
	top:40%;
	left:40%;
	height:16%;
	width:12%;
}
.Player1{
	top:60%;
	left:60%;
	height:16%;
	width:12%;
}
.Player2{
	top:20%;
	left:20%;
	height:16%;
	width:12%;
}
.specialbutton{
	width:20%;
	/*background-color: aqua;*/	
	margin:0% 10%;
}

.specialbutton:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.specialbutton:active{
	transform: scale(1);
}
.specialbuttondiv{
	position: absolute;
	top:26%;
	left: 0%;
	width:100%;
	height:8%;
	display: inline-flex;
}
.left{
	background-image:url("../image/go.png");
	background-size:cover;
}
.center{
	background-image:url("../image/stop.png");
	background-size:cover;
}
.right{
	background-image:url("../image/return.png");
	background-size:cover;
}
.personaldata{
	width:100%;
	height:50%;
	position:absolute;
	top:40%;
}
.personaldatadetail{
	height:17%;
	margin-bottom:8%;
	margin-right:13%;
	margin-left:13%;
	text-align:center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top:5%; 
}

.personaldatadetail p{
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.personaldatadetail p.player_name{
	margin-top: 20px;
	margin-bottom: 2px;
}

.personaldatadetail p.player_count{
	margin-top: 5px;
	margin-bottom: 40px;
}
/*之後為了動態更改div的內容先設置不同的class name*/
.personone{
	background-image:url("../image/data.png");
}
.persontwo{
	background-image:url("../image/data.png");
}
.personthree{
	background-image:url("../image/data.png");
}

#dialogoverlay{
	display: none;
	opacity: 0.8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}

#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius: 7px;
	width:600px;
	z-index: 10;
	background-image:url("../image/backgroundimage.png");
	opacity:0.85;
	background-position:50%;
	background-size:100% 100%;
	background-repeat: no-repeat;
}

#dialogbox div{
	/*background: #FFF;*/
	margin: 8px;
}

#dialogbox div#dialogboxhead{
	/*background: #666;*/
	font-size: 19px;
	padding: 10px;
	color: white;
}

#dialogbox div#dialogboxbody{
	/*background: #333;*/
	padding: 20px;
	color: #FFF;
}

#dialogbox div#dialogboxfoot{
	/*background: #666;*/
	padding: 10px;
	text-align: right;
}
#introductinotitle{
	margin-top:6%;
	margin-left:10%;
	margin-bottom:0%;
	border-bottom:solid 2px black;
	padding-bottom:2%;
	width: 80%;
	font-size:1.5em;
	font-weight:500;
}
#rule{
	margin-top:0%;
	margin-left:10%;
	margin-bottom:0%;
	padding-bottom:0%;
}
#button{
	margin-left:10%;
	margin-top:1%;
	padding-top:0%
}
#image{
	background-repeat: no-repeat;
	background-color: aqua;
	width:20%;
	height:65%;
	
}
.name{
	font-size:1.5em;
	margin-left:8%;
}
#title{
	margin-top:8%;
	margin-bottom:6%;
}
#input{
	margin-top:0.5%;
	border:1.5px solid black;
	border-radius:3px;
	height:70%;
	width: 95%;
	margin-left:1.5%;
}
#typename{
	margin-bottom:1%;
}
#inputdiv{
	background-color: #FFF;
	width:40%;
	height:12%;
	position:absolute;
	left:7%;
	top:70%;
	border-radius:3px;
}
#buttonplayer{
	position:absolute;
	left:52%;
	top:75%;
}
#imageplayer{
	object-fit: contain;
}
#imageplayer{
	position:absolute;
	width:25%;
	height:60%;
	right:10%;
	top:25%;
}
